@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Afacad&display=swap');
body {
  background-color: #000300;
  
  
}

/* 
background-image: url("../public/images/tree.png");
  background-size: contain ;
  background-position: center top 100px;
  background-repeat: no-repeat;
  height: 100vh; Ensure body takes full viewport height 
 */